body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  background-color: black;
  color: #ffff;
}

header {
  width: 1200px;
  max-width: 80%;
  margin: auto; /* supaya ditengah dan ada jarak di kanan kirinya */
  height: 50px;
  display: flex;
  align-items: center;
  position: relative; /* supaya posisi dia di depan dan tidak ketumpuk di belakang */
  z-index: 999;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  letter-spacing:  0.1rem; /* untuk memberi jarak antar huruf */
}

/* Slider */
.slider {
  width: 100vw; /* supaya lebarnya penuh */
  height: 100vh; /* tingginya juga akan memenuhi layar */
  overflow: hidden; /* ssupaya mengatasi bablas */
  margin-top: -50px; /* supaya img nya naik ke atas ,nav nya menyatu dengan img */
  position: relative; /* nanti ada elemen yang mau dibikin absolute ke slider ini */
}

.slider .list .item {
  position: absolute;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  inset: 0 0 0 0; /* ini adalah alternatif dari code di atas */
}

/* Kita akan membuat img di dalam elemen di atas menjadi penuh,sama seperti slider yang sudah penuh selayar */
.slider .list .item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item .detail {
  position: absolute;
  top: 20%;
  /*supayaelemendetailinibergerakgerakdiatasimgcovernyaini*/width: 1200px;
  max-width: 80%;
  /*supayatidak100%full*/margin: auto;
  /*supayaditengahdansejjardengannav*/left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-shadow: 0 5px 10px #000;
}

.slider .list .item .detail .title {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  margin-bottom: 0.6rem;
}

.slider .list .item .detail .name {
  font-weight: 900;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
  margin-bottom: 0.8rem;
  background: linear-gradient(#ef745c,#34073d); /* ini untuk combine warna gradasi (untuk combine warna nya bisa nyontek di web lain unutk referensi */
  background-clip: text; /* nanti warna gradasi di atas akan menempel pada textnya gitu bukan pada background textnya */
  color: transparent; /* ini masih bagian unutk menjadikan textnya menempel dengan wara gradasinya */
  text-shadow: none; /* ini juga supaya tidak ada shadow di text ini */
}

.slider .list .item .detail figure {
  display: flex;
  align-items: center;
  gap: 0.5rem
}

.slider .list .item .detail figure img {
  width: 2.4rem;
}

.slider .list .item .detail figure figcaption {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.slider .list .item .detail .desc {
  margin-top: 1rem;
  font-weight: 100;
  font-size: 1rem;
  max-width: 40rem;
}

.slider .list .item .detail .more {
  display: inline-block;/*supayabisadiaturukurandanpsosisinya*/
  margin-top: 1.4rem;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 0.6rem 0.8rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  text-shadow: none;
  font-size: 1rem;
}

.slider .list .item .detail .more:hover {
  color: white;
  background-color: #ef745c;
}

/* Thumbnail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 9999;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0; /* supaya ketika halamannya mengecil,dia ga ikut mengecil */
  position: relative; /* dikaasih relative supaya elemen kecil di dalam itemnya bisa dikasih absolute dan bergerak di atas thumbnaail item */
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.thumbnail .item .detail {
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .detail .name {
  font-weight: 900;
  font-size: 1rem;
  text-align: right;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px #000;
}

.thumbnail .item .detail blockquote {
  font-size: 0.7rem;
}

/* Arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 1px #000;
  font-family: monospace;
  color: #ef745c;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.arrows button:hover {
  background-color: #ef745c;
  color: white;
}

/* Starting animate */
.slider .list .item:nth-child(1) {
  z-index: 1;
}

.slider .list .item:nth-child(1) .title,
.slider .list .item:nth-child(1) .name,
.slider .list .item:nth-child(1) figure,
.slider .list .item:nth-child(1) .desc,
.slider .list .item:nth-child(1) .more {
  transform: translateY(50px);
  filter: blur(50px);
  opacity: 0;
  animation: showDetail 0.5s 1s linear 1 forwards;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  -webkit-filter: blur(50px);
  -webkit-animation: showDetail 0.5s 1s linear 1 forwards;
}

@keyframes showDetail {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slider .list .item:nth-child(1) .title {
  animation-delay: 1s;
}
.slider .list .item:nth-child(1) .name {
  animation-delay: 1.2s;
}
.slider .list .item:nth-child(1) figure {
  animation-delay: 1.4s;
}
.slider .list .item:nth-child(1) .desc {
  animation-delay: 1.6s;
}
.slider .list .item:nth-child(1) .more {
  animation-delay: 1.8s;
}

/* action next */
.slider.next .list .item:nth-child(1) > img {
  width: 150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  animation: growImage 0.5s linear 1 forwards;
  -webkit-animation: growImage 0.5s linear 1 forwards;
}

@keyframes growImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail;
  -webkit-animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
  to {
    width: 150px;
    opacity: 1;
  }
}

.slider.next .thumbnail {
  transform: translateX(150px);
  animation: transformThumbnail 0.5s linear 1 forwards;
  -webkit-transform: translateX(150px);
  -moz-transform: translateX(150px);
  -ms-transform: translateX(150px);
  -o-transform: translateX(150px);
  -webkit-animation: transformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}

/* Actin Previous */
.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}
.slider.prev .list .item:nth-child(2) > img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: shrinkImage 0.5s linear 1 forwards;
  -webkit-animation: shrinkImage 0.5s linear 1 forwards;
}

@keyframes identifier {
  to {
    width: 150px;
    height: 220px;
    border-radius: 15px;
    left: 50%;
    bottom: 50px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
}

.slider.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail;
  -webkit-animation: showThumbnail 0.5s linear 1 forwards;
}

.slider.prev .list .item:nth-child(2) .title
.slider.prev .list .item:nth-child(2) .name
.slider.prev .list .item:nth-child(2) figure
.slider.prev .list .item:nth-child(2) .desc
.slider.prev .list .item:nth-child(2) .more {
  animation: hideDetail 0.5s 1s linear 1 forwards;
  -webkit-animation: hideDetail 0.5s 1s linear 1 forwards;
}

@keyframes hideDetail {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
    -webkit-filter: blur(20px);
}
}

.slider.next .arrows button,
.slider.prev .arrows button{
  pointer-events: none;
}

.loading-bar {
  width: 0%;
  height: 5px;
  background-color: #f80;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.slider.next .loading-bar,
.slider.prev .loading-bar {
  width: 100%;
  animation: loadingTime 2s linear 1 forwards;
  -webkit-animation: loadingTime 2s linear 1 forwards;
}

@keyframes loadingTime {
  to {
    width: 0;
  }
}

/* Mobile Breakpoint */
@media screen and (max-width: 678px) {
  .slider .list .item .detail .name {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }

  .slider .list .item .detail .desc {
    font-size: 0.
  }
}