body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  background-color: black;
  color: #ffff;
}

header {
  width: 1200px;
  max-width: 80%;
  margin: auto; /* supaya ditengah dan ada jarak di kanan kirinya */
  height: 50px;
  display: flex;
  align-items: center;
  position: relative; /* supaya posisi dia di depan dan tidak ketumpuk di belakang */
  z-index: 999;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  letter-spacing:  0.1rem; /* untuk memberi jarak antar huruf */
}

/* Slider */
.slider {
  width: 100vw; /* supaya lebarnya penuh */
  height: 100vh; /* tingginya juga akan memenuhi layar */
  overflow: hidden; /* ssupaya mengatasi bablas */
  margin-top: -50px; /* supaya img nya naik ke atas ,nav nya menyatu dengan img */
  position: relative; /* nanti ada elemen yang mau dibikin absolute ke slider ini */
}

.slider .list .item {
  position: absolute;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  inset: 0 0 0 0; /* ini adalah alternatif dari code di atas */
}

/* Kita akan membuat img di dalam elemen di atas menjadi penuh,sama seperti slider yang sudah penuh selayar */
.slider .list .item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item .detail {
  position: absolute;
  top: 20%;
  /*supayaelemendetailinibergerakgerakdiatasimgcovernyaini*/width: 1200px;
  max-width: 80%;
  /*supayatidak100%full*/margin: auto;
  /*supayaditengahdansejjardengannav*/left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-shadow: 0 5px 10px #000;
}

.slider .list .item .detail .title {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  margin-bottom: 0.6rem;
}

.slider .list .item .detail .name {
  font-weight: 900;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
  margin-bottom: 0.8rem;
  background: linear-gradient(#ef745c,#34073d); /* ini untuk combine warna gradasi (untuk combine warna nya bisa nyontek di web lain unutk referensi */
  background-clip: text; /* nanti warna gradasi di atas akan menempel pada textnya gitu bukan pada background textnya */
  color: transparent; /* ini masih bagian unutk menjadikan textnya menempel dengan wara gradasinya */
  text-shadow: none; /* ini juga supaya tidak ada shadow di text ini */
}

.slider .list .item .detail figure {
  display: flex;
  align-items: center;
  gap: 0.5rem
}

.slider .list .item .detail figure img {
  width: 2.4rem;
}

.slider .list .item .detail figure figcaption {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.slider .list .item .detail .desc {
  margin-top: 1rem;
  font-weight: 100;
  font-size: 1rem;
  max-width: 40rem;
}

.slider .list .item .detail .more {
  display: inline-block;/*supayabisadiaturukurandanpsosisinya*/
  margin-top: 1.4rem;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 0.6rem 0.8rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  text-shadow: none;
  font-size: 1rem;
}

.slider .list .item .detail .more:hover {
  color: white;
  background-color: #ef745c;
}